<h2>Section Index Page</h2>
{{#each model.sections as |section|}}
{{#link-to 'sections.show' section.id}}
<h4>Section ID: {{section.id}}</h4>
<p>{{section.height}} X {{section.width}}</p>
{{/link-to}}
{{/each}}
