<h2>Choose a housing block</h2>
<div style="display: flex; flex-wrap: wrap;">
  {{#each model.sections as |section|}}
  <div style="width: 360px; text-align: center;">
    {{#link-to 'sections.show' section.id}}
      <img src="housing.svg" />
      <h4>Housing Block {{section.id}}</h4>
    {{/link-to}}
  </div>
  {{/each}}
</div>
