<h1>Individual Section</h1>
<h4>Section ID: {{model.sections.id}}</h4>
<p>{{model.sections.height}} X {{model.sections.width}}</p>

{{section-grid sections=model.sections cells=model.cells cellsArray=model.sections.cells id=model.sections.elementId}}
