<h1>Individual Section</h1>
<h4>Section ID: {{model.id}}</h4>
<p>{{model.height}} X {{model.width}}</p>
<p style="color: red;">
</p>
{{section-grid sections=model grids=model.section_grids id=model.elementId}}
