<div class="row" style="text-align: center; margin: 20px;">
  <h3>{{sessionAccount.currentUser.name}}'s Home</h3>
</div>

{{dashboard-menu currentUser=model.currentUser create=(action 'createHome')}}
{{dashboard-home-info homes=model.homes currentUser=model.currentUser delete=(action 'deleteHome') add=(action 'addUser')}}
