<button type="button" name="button">{{#link-to 'sections'}}New Home{{/link-to}}</button>
<button type="button" name="button">Expand Home</button>
<button type="button" name="button">Create/Suggest Public Space</button>
