<!-- <button type="button" name="button">{{#link-to 'sections'}}New Home{{/link-to}}</button> -->
<button type="button" name="button" data-toggle="modal" data-target="#create-home-form">New Home</button>
<!-- <a href="#" data-toggle="modal" data-target="create-home-form">New Home</a> -->
<button type="button" name="button">Expand Home</button>
<button type="button" name="button">Create/Suggest Public Space</button>

 {{create-home-form homes=model}}
